.entry-image {
    max-height: 265px;
}

.header-title {
    margin: 40px 0 0;
}

@media only screen and (min-width: 48em) {
    .feature .header-title {
        height: 200px;
    }
}

@media only screen and (min-width: 55em) {
    .feature .header-title {
        height: 230px;
    }
}

@media only screen and (min-width: 62.5em) {
    .feature .header-title {
        height: 265px;
    }
}

pre {
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
}