.entry-image {
    max-height: 265px;
}

.header-title {
    margin: 40px 0 0;
}

@media only screen and (min-width: 48em) {
    .feature .header-title {
        height: 200px;
    }
}

@media only screen and (min-width: 55em) {
    .feature .header-title {
        height: 230px;
    }
}

@media only screen and (min-width: 62.5em) {
    .feature .header-title {
        height: 265px;
    }
}

pre {
    margin-bottom: 1.5em;
    font-size: 12px;
    font-size: .75rem;
    line-height: 2.1667;
    color: #d0d0d0;
    background-color: #272822;
    border: 1px solid #dbdbdb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 10px;
}

.read-more-link {
    text-decoration: underline;
}

.heading-icon {
	margin-left: 8px;
}
