<!-- <div class="newsletter-form">
       <form class="sign-up" action='https://app.getvero.com/forms/9a907ff2dc2a711f41e57a936c125863' method='post'>
           <h4 class="sign-up-title">Subscribe to newsletter</h4>
           <div class="subscribe-inputs">
                   <input type="text" class="sign-up-input" placeholder="Your e-mail" autofocus>
                   <input type="submit" value="Subscribe!" class="sign-up-button">
               </div>
               <div class="subscribe-success">
                       <p>You've been successfully subscribed to Greenhouse Blog! Check your inbox soon for great emails from Greenhouse.</p>
               </div>
       </form>
</div> -->

<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/GreenhouseCI" data-widget-id="587592281781362688">Tweets by @GreenhouseCI</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<ul class="blg-social">
	<li>
	<a href="https://twitter.com/intent/follow?screen_name=greenhouseci">
			<span class="icon twitter">
				<i class="fa fa-twitter fa-2x"></i>
			</span>
			<span class="text-muted">Subscribe to our Twitter Feed.</span>
		</a>
	</li>
	<li>
		<a href="{{ site.url }}/feed.xml">
			<span class="icon rss">
				<i class="fa fa-rss fa-2x"></i>
			</span>
			<span class="text-muted"> Subscribe to our free RSS Feed.</span>
		</a>
	</li>
  <li class="top-pad">
      <h4 class="timeline-Header-title u-inlineBlock">
          Subscribe to our monthly newsletter
      </h4>
      <div id="mc_embed_signup">
          <form class="newsletter-form" action="//greenhouseci.us3.list-manage.com/subscribe/post?u=87aa5bb89db054c102807ebfe&amp;id=f32f18636b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                  <!-- <label class="form&#45;label" for="mce&#45;EMAIL">Stay updated with announcements, news and everything related to Greenhouse CI.</label> -->
                  <input class="sign-up-input" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="email address" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_87aa5bb89db054c102807ebfe_f32f18636b" tabindex="-1" value=""></div>
                  <input class="sign-up-button" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
              </div>
          </form>
      </div>
  </li>
</ul>

<h3>Recent Stories</h3>
<hr>
<div class="block-inverse">
	<ul>
		{% for post in site.posts limit:7 %}
			<li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
</div>
