.blg-text {
    font-size: 16px;
    line-height: 1.6em;

    img {
        max-width: 100%;
    }

    h2 {
        color: #12B868;
        font-size: 1.3em;
    }

    p {
      margin-bottom: 18px;
    }
}

h1 {
    color: #12B868;
    font-size: 26px;
}

.social-share {
    margin: 30px 0px 30px 0px;
}

.social-share a {
    color: #95a5a6 !important;
    font-weight: bold;
}

.social-share a:hover {
    color: #333 !important;
    text-decoration: none;
}

.hero a {
    padding: 7px 7px;
    font-size: 24px;
}

img.logo {
    width: 100px;
    float: left;
    margin-right: 25px;
}

.timeline-info {
    width: 95px; 
}

.top-pad {
    margin-top: 10px;
}

.newsletter-form {
    font-family: 'Open Sans' Sans-serif !important;
}

.newsletter-form .subscribe-success {
    display: none;
}
.newsletter-form .sign-up {
    position: relative;
    margin: 20px auto;
    width: 100%;
    padding: 33px 25px 29px;
    background: white;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.newsletter-form .sign-up:before, .newsletter-form .sign-up:after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  height: 10px;
  background: inherit;
  border-bottom: 1px solid #d2d2d2;
  border-radius: 0px;
}
.newsletter-form .sign-up:after {
  bottom: 3px;
  border-color: #dcdcdc;
}

.newsletter-form .sign-up-title {
  margin: -25px -25px 25px;
  padding: 15px 25px;
  line-height: 35px;
  font-size: 23px;
  font-weight: 300;
  color: #aaa;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  background: #f7f7f7;
  font-family: 'Open Sans' Sans-serif !important;
}
.newsletter-form .sign-up-title:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  background: #c4e17f;
  border-radius: 0px 0px 0 0;
  background-color: #b2b2b2;
}

.newsletter-form input {
  font-family: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.newsletter-form .sign-up-input {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  padding: 2px 15px 2px;
  font-size: 16px;
  background: white;
  border: 2px solid #ebebeb;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 -2px #ebebeb;
  box-shadow: inset 0 -2px #ebebeb;
}
.newsletter-form .sign-up-input:focus {
  border-color: #62c2e4;
  outline: none;
  -webkit-box-shadow: inset 0 -2px #62c2e4;
  box-shadow: inset 0 -2px #62c2e4;
}
.newsletter-form .lt-ie9 .sign-up-input {
  line-height: 48px;
}

.newsletter-form .sign-up-button {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 54px;
    padding: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #1fbc70;
    border: 0;
    border-bottom: 2px solid #1aab65;
    border-radius: 0px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #d76b60;
    box-shadow: inset 0 -2px #1aab65;
}
.newsletter-form .sign-up-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
