---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Greenhouse Blog  
      {% for data_tag in site.data.tags %}
        {% if data_tag.slug == page.tag %}
            <span class="tags hero"><a href="#" class="background-color bg-hover-color">{{ data_tag.name }}</a></span>
        {% endif %}
      {% endfor %}
      </h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="timeline">
        {% for post in site.tags[page.tag] %}
        <div class="blg-summary">
          {% capture weekago %}{{'now' | date: '%s' | minus : 604800}}{% endcapture %}
          {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
          <h3 {% if weekago < posttime %} class="new" {% endif %} ><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
          <div class="timeline-info hidden-xs">
            <img src="{% include author.html post=post get="avatar" %}" class="blg-author" alt="...">
            <time datetime="2014-01-10" class="hidden-xs">{{ post.date | date: "%b %-d, %Y" }}</time>
          </div>
          <ul class="text-muted list-inline blg-header">
            <li><i class="fa fa-user"></i> {% include author.html post=post get="name" %}</li>
            <li><i class="fa fa-calendar"></i> {{ post.date | date: "%b %-d, %Y" }}</li>
            <li><i class="fa fa-comments-o"></i> <a href="{{ site.url }}{{ post.url }}/#disqus_thread">0 Comments</a>.</li>
          </ul>
          <hr>
          <p class="blg-text">
            {{ post.excerpt }}
            <a href="{{ site.url }}{{ post.url }}">Continue reading &#8594;</a>
          </p>
          <p class="tags">
            {% if post.tags.size > 0 %}
              {% for post_tag in post.tags %}
                {% for data_tag in site.data.tags %}
                  {% if data_tag.slug == post_tag %}
                    <a href="/tag/{{ data_tag.slug }}" class="background-color bg-hover-color">{{ data_tag.name }}</a>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% endif %}
          </p>
        </div>
        {% endfor %}
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-sm-4">
      {% include sidebar.html %}
      <h3>Tags</h3>
      <hr>
      <p class="tags">
        {% for data_tag in site.data.tags %}
          <a href="/tag/{{ data_tag.slug }}" class="background-color bg-hover-color">{{ data_tag.name }}</a>
        {% endfor %}
      </p>
    </div>
  </div>
</div>
{% if site.disqus_shortname %}
  <script type="text/javascript">
    var disqus_shortname = '{{ site.disqus_shortname}}';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());

  </script>
  {% endif %}
