---
layout: default
---
<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<div class="blg-summary">
				<h1>{{ page.title }}</h1>
				<ul class="text-muted list-inline blg-header">
					<li><i class="fa fa-user"></i> {% include author.html post=page get="name" %}</li>
					{% if page.date %}<li><i class="fa fa-calendar"></i> {{ page.date | date: "%b %-d, %Y" }}</li>{% endif %}
					{% if page.comments %}<li><i class="fa fa-comments-o"></i> <a class="disqus-comment-count" href="http://example.com/bar.html#disqus_thread">0 Comments</a>.</li>{% endif %}
				</ul>
				<hr>
				<div class="blg-text"> 
					{{ content }}
				</div>
				<p class="tags">
					{% assign post = page %}
					{% if post.tags.size > 0 %}
						{% for post_tag in post.tags %}
							{% for data_tag in site.data.tags %}
								{% if data_tag.slug == post_tag %}
									<a href="/tag/{{ data_tag.slug }}" class="background-color bg-hover-color">{{ data_tag.name }}</a>
								{% endif %}
							{% endfor %}
						{% endfor %}
					{% endif %}
				</p>
				{% if page.share %}
				<script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
				<script>
					window.fbAsyncInit = function() {
						FB.init({
							appId      : '704712656304430',
							xfbml      : false,
							version    : 'v2.3'
						});
					};

					(function(d, s, id){
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) {return;}
						js = d.createElement(s); js.id = id;
						js.src = "//connect.facebook.net/en_US/sdk.js";
						fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));
				</script>

				<div class="social-share">
					<ul class="list-inline text-center">
						<li><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter"><i class="fa fa-twitter-square"></i> TWEET</a></li>
						<li><a href="#" onClick="FB.ui({method: 'share', href: '{{ site.url }}{{ page.url }}', caption: '{{ page.title }}',}, function(response){});" title="Share on Facebook"><i class="fa fa-facebook-square"></i> LIKE</a></li>
						<li><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" onclick="javascript:window.open(this.href,
							'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-google-plus-square"></i> +1</a></li>
						</ul>
					</div><!-- /.social-share -->
					{% endif %}

					<!-- Comments -->
					<div class="comments">
						{% if site.disqus_shortname and page.comments %}<section id="disqus_thread"></section>{% include disqus_comments.html %}{% endif %}
					</div>
					<!-- // Comments -->
				</div>


			</div>
			<div class="col-sm-4">
				{% include sidebar.html %}			
			</div>
		</div>
	</div>
	{% if site.disqus_shortname and page.comments %}
	<script type="text/javascript">
		var disqus_shortname = '{{ site.disqus_shortname}}';
		document.getElementsByClassName("disqus-comment-count")[0].href = window.location.toString() + 'http://blog.greenhouseci.com/greenhouse/update/goodbye-testflight-for-android#disqus_thread';
		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function () {
			var s = document.createElement('script'); s.async = true;
			s.type = 'text/javascript';
			s.src = '//' + disqus_shortname + '.disqus.com/count.js';
			(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());

	</script>
	{% endif %}
</div>